.header {
  text-align: center;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  background: linear-gradient(90deg, #004390 34.32%, #00003C 60.27%);
  padding-top: 15px;
  padding-bottom: 15px;
}

.logo {
  height: 45px;
  margin-right: 20px;
}

@media (max-width: 736px) {
  .logo {
    height: 35px;
    margin-right: 20px;
  }
}
